<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title"> Clientes </h3>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Acompanhe o status de cada cliente </h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Codígo</th>
                  <th>Nome</th>
                  <th>Numero</th>
                  <th>Tipo</th>
                  <th>Data</th>
                  <th>Status</th>
                  <th>Finalização</th>
                  <th>Editar</th>
                </tr>
              </thead>
              <tbody>
                {{#each clientes}}
                  <tr>
                    <td>{{this.contrato}}</td>
                    <td>{{this.cliente}}</td>
                    <td>{{this.telefone}}</td>
                    <td>{{this.tipo}}</td>
                    <td>{{this.data}}</td>
                    <td>
                      {{#if (eq this.situacao "Aberto")}}
                        <div
                          class="badge badge-outline-danger"
                        >{{this.situacao}}</div>
                      {{else if (eq this.situacao "Atrasado")}}
                        <label
                          class="badge badge-outline-warning"
                        >{{this.situacao}}</label>
                      {{else}}

                        <div
                          class="badge badge-outline-success"
                        >{{this.situacao}}</div>
                      {{/if}}
                    </td>
                    <td>
                      <form action="/clientes/edit/{{this.id}}" method="post">
                        <input
                          type="submit"
                          value="Concluir"
                          class="add btn btn-success"
                        />
                      </form>
                    </td>
                    <td>
                      <form action="/editar/{{this.id}}" method="post">
                        <input
                          type="submit"
                          value="Editar"
                          class="add btn btn-danger"
                        />
                      </form>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>